@import url("https://fonts.cdnfonts.com/css/pacifico");
@import url("https://fonts.cdnfonts.com/css/lato");

:root {
  /* Fonts */
  --mainFont: "Pacifico", sans-serif;
  --bodyFont: "Lato", sans-serif;
  /* Brand Colors */
  --wht: #fcfef1;
  --blk: #161913;
  --sft: #cae6d5;
  --mnt: #9ad7b5;
  --grn: #a7c957;
  --drk: #013927;
}

