
/* body {
  background-color: var(--drk);
  color: var(--wht);
} */
/*
a {
  color: var(--wht);
  font-family: var(--bodyFont);
  font-weight: bold;
  text-decoration: none;
} */
/* a:hover {
  color: var(--ylw);
} */