body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.cdnfonts.com/css/pacifico");
@import url("https://fonts.cdnfonts.com/css/lato");
:root {
  /* Fonts */
  --mainFont: font-family: "Pacifico", sans-serif;
  --bodyFont: font-family: "Lato", sans-serif;
  /* Brand Colors */
  --wht: #fcfef1;
  --blk: #161913;
  --sft: #cae6d5;
  --mnt: #9ad7b5;
  --grn: #a7c957;
  --drk: #013927;
  /* We may not need the following */
  --ylw: #e1c340;
  --brn: #bf773c;
}

.bg-primary {
  background-color: var(--drk);
  color: var(--wht);
}

.debug-outline,
.d-outline {
  outline: 1px solid red;
}
