:root {
   /* Fonts */
   --mainFont: font-family: 'Pacifico', sans-serif;
   --bodyFont: font-family: 'Lato', sans-serif;
   /* Brand Colors */
   --wht: #FCFEF1;
   --blk: #161913;
   --sft: #CAE6D5;
   --mnt: #9AD7B5;
   --grn: #A7C957;
   --drk: #013927;
   /* We may not need the following */
   --ylw: #E1C340;
   --brn: #BF773C;
 }
body {
   background-color: var(--drk);
   color: var(--wht);
 } 

 .imageLogo {
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   position: relative;
   z-index: 1;
   opacity: 0.8;
   padding: 200px;
 }

 .login{
   margin-right: 20rem;
 }